<nav class="py-4 navbar navbar-expand-lg bg-m g">
  <div class="container-fluid ">
    <!-- Logo a la izquierda -->
    <a class="navbar-brand ms-5" >
      <img
        src="logo.png"
        alt=""
        width="100"
        height="50"
        class=" d-inline-block ms-5 rounded-pill"
      />
    </a>

    <!-- Input de búsqueda centrado -->
    <form class="mx-auto d-flex w-50 " role="search">
      <input
        class="form-control me-2 rounded-pill"
        type="search"
        placeholder="Buscar..."
        aria-label="Search"
      />
      <button class="rounded-pill btn btn-outline-m g " type="submit">Buscar</button>
    </form>

    <!-- Botón de Login a mio la derecha -->
    <button class="btn btn-primary me-5 g rounded-pill btn-m">Login</button>
    <!-- Botón de gestion a la derecha -->
    <button class="btn btn-primary me-5 g d-none rounded-pill">Gestión Articulos</button>
  </div>
</nav>
