<div class="container py-5">
  <h1 class="mb-4 text-center">BACKEND</h1>

  <button class="mx-2 my-2 btn btn-mo" (click)="mostrarTabla('productos')">
    Mostar Productos
  </button>
  <button class="mx-2 my-2 btn btn-mo" (click)="mostrarTabla('usuarios')">
    Mostar Usuarios
  </button>
  <button class="mx-2 my-2 btn btn-mo" (click)="mostrarTabla('alquileres')">
    Mostar Alquileres
  </button>
  <button class="mx-2 my-2 btn btn-mo" (click)="mostrarTabla('marcas')">
    Mostar Marcas
  </button>

  <button class="mx-2 my-2 btn btn-mo" (click)="anadirMarca()">
    Añadir Marca
  </button>

  <button class="mx-2 my-2 btn btn-mo" (click)="anadirProducto()">
    Añadir Producto
  </button>
  <!-- Row de toda la pagina-->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <!-- TABLA DE PRODUCTOS -->
    <table
      class="table my-4 table-striped d-none"
      #tablaProductos
      title="Tabla de Productos"
    >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Estado</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Id_marca</th>
          <th scope="col">Ruta</th>
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.id }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.estado }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.marca }}</td>
          <td>{{ producto.ruta }}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/editProducto', producto.id]">Editar</button>
          </td>
          <td>
            <button
              class="btn btn-danger"
              (click)="borrarProducto(producto.id)"
            >
              Borrar
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- TABLA DE USUARIOS -->
    <table
      class="table my-4 table-striped d-none"
      #tablaUsuarios
      title="Tabla de Usuario"
    >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Email</th>
          <th scope="col">Rol</th>
          <th scope="col">Contraseña</th>
          <th scope="col">Pais</th>
          <th scope="col">Sexo</th>
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apellido }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.rol }}</td>
          <td>{{ usuario.contrasena }}</td>
          <td>{{ usuario.pais }}</td>
          <td>{{ usuario.sexo }}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/editUsuario', usuario.id]" >Editar</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="borrarUsuario(usuario.id)">
              Borrar
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- TABLA DE ALQUILERES -->
    <table
      class="table my-4 table-striped d-none"
      #tablaAlquileres
      title="Tabla de Productos"
    >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">ID_Usuario</th>
          <th scope="col">ID_Producto</th>
          <th scope="col">Fecha de Inicio</th>
          <th scope="col">Fecha de Fin</th>
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alquiler of alquileres">
          <td>{{ alquiler.id }}</td>
          <td>{{ alquiler.id_usuario }}</td>
          <td>{{ alquiler.id_producto }}</td>
          <td>{{ alquiler.fecha_inicio }}</td>
          <td>{{ alquiler.fecha_fin }}</td>
          <td>
            <a href=""><button class="btn btn-primary">Editar</button></a>
          </td>
          <td>
            <button
              class="btn btn-danger"
              (click)="borrarAlquiler(alquiler.id)"
            >
              Borrar
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- TABLA DE MARCAS -->
    <table
      class="table my-4 table-striped d-none"
      #tablaMarcas
      title="Tabla de Productos"
    >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let marca of marcas">
          <td>{{ marca.id }}</td>
          <td>{{ marca.nombre }}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/editMarca', marca.id]">Editar</button>
          </td>
          <td>
            <a href=""
              ><button class="btn btn-danger" (click)="borrarMarca(marca.id)">
                Borrar
              </button></a
            >
          </td>
        </tr>
      </tbody>
    </table>


    <!-- FORMULARIO DE MARCA -->
    <div class="container d-none" #formularioMarca>
      <h2>Crear Marca</h2>
      <form (ngSubmit)="insertarMarca()">
        <div class="form-group">
          <label for="nombre">Nombre de la Marca</label>
          <input
            type="text"
            id="nombre"
            class="form-control"
            [(ngModel)]="nombreMarca"
            name="nombre"
            required
            minlength="3"
            placeholder="Nombre de la marca">

        </div>
        <button type="submit" class="btn btn-mo" >Crear Marca</button>
      </form>
    </div>


      <!-- FORMULARIO DE PRODUCTO -->
<div class="container d-none" #formularioProducto>
  <h2>Crear Producto</h2>
  <form (ngSubmit)="insertarProducto()">

    <!-- Nombre del Producto -->
    <div class="form-group">
      <label for="nombre">Nombre del Producto</label>
      <input
        type="text"
        id="nombre"
        class="form-control"
        [(ngModel)]="nombreProducto"
        name="nombre"
        required
        minlength="3"
        placeholder="Nombre del producto">
    </div>

    <!-- Precio -->
    <div class="form-group">
      <label for="precio">Precio</label>
      <input
        type="number"
        id="precio"
        class="form-control"
        [(ngModel)]="precioProducto"
        name="precio"
        step="0.01"
        placeholder="Precio del producto">
    </div>



    <!-- Descripción -->
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea
        id="descripcion"
        class="form-control"
        [(ngModel)]="descripcionProducto"
        name="descripcion"
        placeholder="Descripción del producto"></textarea>
    </div>

    <!-- Marca (Select con datos de API) -->
    <div class="form-group">
      <label for="marca">Marca</label>
      <select id="marca" class="form-select" [(ngModel)]="idMarcaProducto" name="id_marca" required>
        <option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.nombre }}</option>
      </select>
    </div>

    <!-- Ruta de imagen -->
    <div class="form-group">
      <label for="ruta">Ruta de Imagen</label>
      <input
        type="text"
        id="ruta"
        class="form-control"
        [(ngModel)]="rutaProducto"
        name="ruta"
        placeholder="URL de la imagen del producto">
    </div>

    <button type="submit" class="btn btn-mo">Crear Producto</button>
  </form>
</div>








  </div>
</div>
